body, html{
    
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    /*(doubt) this doesnt work as expected*/
    background: linear-gradient(to  left top, #AAC5D9, #BACFDC, #D1DEE5);
}

.container{
    width: 750px;
    height: 600px;
    background: linear-gradient(to top left, #28b487, #7dd56f);

    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px orange,  6px 6px 2px red,  5px 5px 4px yellow ;
    -moz-box-shadow: 4px 4px 0px orange,  6px 6px 2px red,  5px 5px 4px yellow ;
    -webkit-box-shadow: 4px 4px 0px orange,  6px 6px 2px red,  5px 5px 4px yellow ;
    position: relative;
}

.score{
    background: #f1ff92;
    padding: 10px;
    color: #888e5f;
    position: absolute;
    left: 700px;
    box-shadow:0px 4px 0px 0px #9da853;
    -moz-box-shadow:0px 4px 0px 0px #9da853;
    -webkit-box-shadow:0px 4px 0px 0px #9da853;
}

 
#fruitHolder{
    width: 650px;
    height:400px;
    margin: 50px auto 10px auto;
    background: white;
    box-shadow: 0px 4px 0px 0px #7e6b58;
    -moz-box-shadow: 0px 4px 0px 0px #7e6b58;
    -webkit-box-shadow: 0px 4px 0px 0px #7e6b58;
     
    position: relative;
    overflow: hidden;
}

.instruction{
    width: 450px;
    height:50px;
    background: rgb(168, 164, 157);
    font-size: 17px;
    text-align: center;
    margin: 10px auto;
    line-height: 45px; /*to push the line of the instruction in the center*/
    box-shadow: 0px 4px 0px 0px orange;
    -moz-box-shadow: 0px 4px 0px 0px orange;
    -webkit-box-shadow: 0px 4px 0px 0px orange;
}

 
 

#startreset{
    width: 80px;
    
    background: rgba(255,255,255,0.5);
    padding: 10px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
   
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    position: relative;
}

.trailleft{ 
    display: none;
    width: 100px;
    padding: 10px;
    position: absolute; 
    bottom:20px;
    background-color: rgba(181,235,36,0.7);
    border-radius: 4px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.2);
    /* visibility: hidden; (being hidden but still interacts with others.)*/ 
   
}


#gameover{
    position: absolute;
    width: 500px;
    height: 200px;
    background: linear-gradient(to top left,#f3ca6b, #f3706c);
    top: 170px;
    left: 145px;
    text-align: center;
    color:white;
    font-size: 2.5rem;
    text-transform:uppercase;
    /* line-height: 100px; */
    z-index: 5;
    display: none;
}

.hearts{
    width: 20px;
    height: 20px;
    margin: 0 6px;
}

.fruit{
    display: none;
    position: absolute;
}

.volume{
    position: absolute;
}


/* It is important to but put the fruitHolder to relative position.
If there are no parent elements that has a 
relative position, then the absolutely positioned 
element will take its reference from the browser window.*/